*{
    margin: 0;
}

img{
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 65px;
    width: 80px;
    cursor: pointer;
    filter: brightness(50%);
}

canvas{
    
}

h1{
    position: absolute;
    left: 40%;
    color: white;
}

.FixedButtonAlume{
    filter: none;
}
