*{
    margin: 0;
}

img{
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 65px;
    width: 80px;
    cursor: pointer;
    filter: brightness(50%);
}

canvas{
    background-image: url("https://i.pinimg.com/originals/f8/1d/b1/f81db1d74e0b1ed5b0f19ed409910a5a.jpg");
}

.FixedButtonAlume{
    filter: none;
}
